@media only screen and (max-width: 576px) {
  div.hidden {
    visibility: hidden;
  }

  div.visible {
    visibility: visible;
  }

  .badgeColor {
    color: hsl(26, 100%, 55%);
    background:hsl(25, 100%, 94%);
  }

  .cartBtn {
    background-color: hsl(26, 100%, 55%);
    border-color: hsl(26, 100%, 55%);
  }

  .cartImg {
    filter: invert(1) brightness(2);
    /* filter: brightness(0.24) sepia(10%) saturate(40000%) hue-rotate(167deg) invert(20%) contrast(100%);
    color: hsl(167, 40%, 24%);
    color: hsl(0, 0%, 100%);*/
  }

}

@media only screen and (max-width: 576px) {
  
}

@media only screen and (max-width: 768px) {
  div.hidden {
    visibility: hidden;
  }

  div.visible {
    visibility: visible;
  }
}

@media only screen and (min-width: 769px) {
  
  .carousel-indicators {
    top: 95%;
  }

  .carousel-indicators button{
    /* background-color: red!important; */
    background-image: url('./images/image-product-1-thumbnail.jpg') !important;
    width: 100px!important;
    height: 100px!important;
    border-radius: 20%;
    }

}